/* Overrides */
:root {
	--sl-content-width: 72rem; /* 45rem by default */
	--sl-sidebar-width: 17rem; /* 18.75rem by default */
}

/* Dark mode colors. */
:root[data-theme='dark']{
	--sl-color-accent-low: hsl(203, 36%, 30%);
	--sl-color-accent: hsl(201, 36%, 50%);
	--sl-color-accent-high: hsl(201, 36%, 70%);
	--sl-color-white: hsl(201, 18%, 100%);
	--sl-color-gray-1: hsl(201, 18%, 90%);
	--sl-color-gray-2: hsl(201, 18%, 80%);
	--sl-color-gray-3: hsl(201, 18%, 70%);
	--sl-color-gray-4: hsl(201, 18%, 55%);
	--sl-color-gray-5: hsl(201, 18%, 19%);
	--sl-color-gray-6: hsl(201, 18%, 17%);
	--sl-color-black: hsl(201, 18%, 21%);
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: hsl(201, 36%, 30%);
	--sl-color-accent: hsl(201, 36%, 50%);
	--sl-color-accent-high: hsl(201, 36%, 70%);
	--sl-color-white: hsl(201, 18%, 21%);
	--sl-color-gray-1: hsl(201, 18%, 17%);
	--sl-color-gray-2: hsl(201, 18%, 19%);
	--sl-color-gray-3: hsl(201, 18%, 35%);
	--sl-color-gray-4: hsl(201, 18%, 55%);
	--sl-color-gray-5: hsl(201, 18%, 70%);
	--sl-color-gray-6: hsl(201, 18%, 80%);
	--sl-color-gray-7: hsl(201, 18%, 90%);
	--sl-color-black: hsl(201, 18%, 100%);
}

.icon-inline {
	display: inline !important;
	margin: 0 0 0 0.25rem !important;
}

.right-sidebar-container {
	min-width: var(--sl-sidebar-width);
}

@media (min-width: 72rem) {
	.main-pane:hover {
		position: relative;
		z-index: 8;
	}

	.sl-markdown-content .card :is(img, picture, video, canvas, svg, iframe):not(:where(.not-content *)) { 
		position: relative;
		transition: transform 0.2s ease;
	}

	.sl-markdown-content .card :is(img, picture, video, canvas, svg, iframe):not(:where(.not-content *)):hover { 
		transform: scale(2);
		filter:drop-shadow(2px 2px 6px black);
		z-index: 9;
		position: relative;
	
	}
}
